@using System.Linq
@model RateDocker.Models.Choices
@{
    ViewData["Title"] = "How awesome is Docker?";
}
<h2>@ViewData["Title"]</h2>


<form action="Vote/Index" method="post">
    @foreach(var choice in Model.Names.Select((v, i) => new {Value = i+1, Name = v})){
        <div class="radio">
            <label>
                <input type="radio" name="awesomeness" value="@(choice.Value)">
                @choice.Name
            </label>
        </div>
    }
    <input type="submit" value="Vote">
</form>