@{
    ViewData["Title"] = "Home Page";
}
<h2>How awesome is Docker?</h2>
<form action="Vote/Index" method="post">
    <ul>
        <li><label><input type="radio" name="awesomeness" value="1"> Cool</label>
        <li><label><input type="radio" name="awesomeness" value="2"> Really cool</label>
        <li><label><input type="radio" name="awesomeness" value="3"> Really fricking cool!</label>
        <li><label><input type="radio" name="awesomeness" value="4"> Fricking incredible!</label>
        <li><label><input type="radio" name="awesomeness" value="5"> Mindblowingly awesome!</label>
    </ul>
    <input type="submit" value="Vote">
</form>